


@media (max-width: 992px) {
    .choose-trip {
        border: 1px solid #ffffff;
        height: 06rem;
        width: 60rem;
        /* margin-left: -2rem; */
        margin-top: 6rem;

      }

      .footer-logo {
        text-align: center
    }

    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-container {
        padding-top: 0px;
    }
}


@media (max-width: 768px) {
    

      .footer-logo {
        text-align: center
    }

    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-container {
        padding-top: 0px;
    }
}


@media (max-width: 576px) {
    .hero{
        
        height: 180vh;
       }

    .footer-logo {
        text-align: center
    }

    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-input {
        margin-left: 20px;
    }

    .footer-container {
        padding-top: 0px;
    }

    .foot {
        padding-top: 0px;
    }
}

@media(max-width:320px){

    .container{
        width:400px;
    }
}



/* @media (min-width: 576px) {
     .hero{
      padding-top: 4rem;
      padding-right: 10rem;
      padding-bottom: 4rem;
      padding-left: 10rem;
      width: 75rem;
      height: 180vh;
     }

     .choose-trip {
      border: 1px solid #ffffff;
      height: 06rem;
      width: 60rem;
      margin-left: -1rem;
      margin-top: 6rem;
      
    }


} */
