body {
    font-family: 'Ubuntu';
}

.hero {
    background-image: url(image/background.svg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar-nav {
    margin-right: 100px;
}

nav .navbar-nav li a {
    color: white !important;
}


.nav-link {
    margin-right: 25px;
    font-size: 16px;
    margin-top: 15px;
    /* border-bottom: solid 1px red; */
  }



/* .nav-item {
    border-bottom: solid 1px red;
} */

.btn-nav {
    margin-right: 80px;
    margin-top: 19px;
}

.nav-btn {
  color: #ffffff;
  background-color: #2196F3;
  padding: 05px 35px !important;
  font-size: 16px !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}



.nav-btn:hover {
    background-color: #28B446;
}

.hero-text {
    text-align: center;
    margin-top: 8rem;
    color: #ffffff;
}

.choose-trip {
    border: 1px solid #ffffff;
    height: 09rem;
    width: 70rem;
    margin-left: 3rem;
    margin-top: 4rem;
    background-color: #ffffff;
  }

  

  #dropdownMenuButton {
      background-color: #ffffff;
      color: #000;
      border: none;
  }
  

  

  .dropdown-block {
    display: flex;
    margin-bottom: 17px;
  }

  /* .dropdown-btn-container {
    display: flex;
  } */

  .dropdown-btn-block {
    display: flex;
  }

  .dropdown {
      margin-left: 10px;
  }

  .decre-btn {
    width: 0px;
    margin-right: 40px;
    /* margin-right: 40px; */
  
  }
  button.decre-btn {
    background-color: #ffffff;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    border: none;
    /* width: 20px;  */
  }
  
  .count-num {
    margin-right: 19px;
  }

  .decre-img {
    width: 28px;
    margin-left: 0px;
  }
  
  .incre-img {
    width: 28px;
    margin-left: 0px;
  }

  .dropdown-head {
    width: 10rem;
  }

  .dropdown-head {
    font-size: 15px;
    font-weight: 700;
  }

  




